* {
    font-family: "B Yekan";
    text-decoration: none !important;
}

.custom-input-group input, button {
    font-size: 15px !important;
    box-shadow: none !important;
}

.custom-header a {
    color: #8E8E8E !important;
    font-size: 14px !important;
    transition: all 0.3s ease;
}

.custom-header a:hover {
    color: #F58221 !important;
}

.custom-header-none a {
    color: #8E8E8E !important;
    transition: all 0.3s ease !important;
    font-size: 19px !important;
    margin-top: 60px !important;

}

.custom-header-none a:hover {
    color: #F58221 !important;
}